.container {
  margin: auto;
  width: 80%;
  font-size: 100%;
  font-family: "Comic Sans MS"
}

h1 {
  text-align: center;
}

.gameDiv {
  margin: auto;
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.gameContainer {
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: #BDBDBD;
  height: 100%;
  border: 2px solid #7B7B7B;
  font-size: 100%;
}

input {
  width: 2em;
  height: 2em;
  background-color: #BDBDBD;
  font-size: inherit;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
}

.clicked {
  border-bottom-style: inset;
  border-left-style: inset;
  border-right-style: inset;
  border-top-style: inset;
}

.winner, .loser{
  text-align: center;
}

.gameDivTop {
  text-align: center;
  margin: auto;
  width: gameDivWidth;
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  height: 4em;
  background-color: #C0C0C0;
  font-size: 100%;
}

.smileyBtn {
  margin-top: 1.2em;
  padding: 2px 0px 0px;
  width: 26px;
  height: 26px;
  font-size: 100%;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
  background-color: #BDBDBD;
  font-size: inherit;
}
